@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Barlow', sans-serif;
    background-color: #3fbeff;
}

h1, h2, h3, h4 {
    font-family: 'Fraunces', serif;
}

h1, h4 {
    font-weight: 900;
}

ul li {
    color: white;

}

.triangle {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right: 30px solid #ffffff;
    border-bottom: 30px solid transparent;
  }
